dashboard.json
[
  {
    "id": "4f07eea542836687",
    "type": "tab",
    "label": "Estacionamento",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_distancia",
    "type": "mqtt in",
    "z": "4f07eea542836687",
    "name": "Distancia",
    "topic": "fiap/iot/vaga/distancia",
    "qos": "0",
    "datatype": "auto",
    "broker": "282d9ad7cbde6313",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 100,
    "wires": [
      ["gauge_distancia", "chart_distancia", "formata_log", "combina_dados"]
    ]
  },
  {
    "id": "mqtt_status",
    "type": "mqtt in",
    "z": "4f07eea542836687",
    "name": "Status",
    "topic": "fiap/iot/vaga/status",
    "qos": "0",
    "datatype": "auto",
    "broker": "282d9ad7cbde6313",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 160,
    "wires": [["text_status", "formata_log", "combina_dados"]]
  },
  {
    "id": "gauge_distancia",
    "type": "ui_gauge",
    "z": "4f07eea542836687",
    "name": "",
    "group": "dashboard_group",
    "order": 1,
    "width": 6,
    "height": 3,
    "gtype": "gage",
    "title": "Distância (cm)",
    "label": "cm",
    "format": "{{value}}",
    "min": 0,
    "max": 400,
    "colors": ["#00ff00", "#ffff00", "#ff0000"],
    "seg1": 20,
    "seg2": 100,
    "diff": false,
    "className": "",
    "x": 350,
    "y": 100,
    "wires": []
  },
  {
    "id": "chart_distancia",
    "type": "ui_chart",
    "z": "4f07eea542836687",
    "name": "",
    "group": "dashboard_group",
    "order": 2,
    "width": 6,
    "height": 3,
    "label": "Histórico de Distância",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "400",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 350,
    "y": 160,
    "wires": []
  },
  {
    "id": "text_status",
    "type": "ui_text",
    "z": "4f07eea542836687",
    "group": "dashboard_group",
    "order": 3,
    "width": 6,
    "height": 1,
    "name": "",
    "label": "Status da Vaga",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 350,
    "y": 220,
    "wires": []
  },
  {
    "id": "formata_log",
    "type": "function",
    "z": "4f07eea542836687",
    "name": "Formata CSV",
    "func": "const tipo = msg.topic.includes(\"status\") ? \"status\" : \"distancia\";\nconst linha = `${new Date().toISOString()},${tipo},${msg.payload}\\n`;\nmsg.payload = linha;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 140,
    "wires": [["grava_csv"]]
  },
  {
    "id": "grava_csv",
    "type": "file",
    "z": "4f07eea542836687",
    "name": "Salvar em CSV",
    "filename": "vaga_log.csv",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 800,
    "y": 140,
    "wires": []
  },
  {
    "id": "combina_dados",
    "type": "function",
    "z": "4f07eea542836687",
    "name": "Combina Dados",
    "func": "// Usa contexto global para armazenar dados temporários\nconst contextKey = 'sensor_data';\nlet context = flow.get(contextKey) || {};\n\n// Identifica o tipo de dado recebido e armazena\nif (msg.topic.includes('distancia')) {\n    context.distancia = parseFloat(msg.payload) || 0;\n    context.timestamp = new Date().toISOString();\n} else if (msg.topic.includes('status')) {\n    context.status = msg.payload.toString().trim();\n    context.timestamp = new Date().toISOString();\n}\n\n// Salva no contexto\nflow.set(contextKey, context);\n\n// Verifica se temos ambos os dados\nif (context.distancia !== undefined && context.status !== undefined) {\n    // Prepara mensagem combinada\n    const combined = {\n        distancia: context.distancia,\n        status: context.status,\n        timestamp: context.timestamp,\n        id_vaga: flow.get('id_vaga') || 1\n    };\n    \n    // Limpa o contexto após usar\n    flow.set(contextKey, {});\n    \n    msg.payload = combined;\n    return msg;\n}\n\n// Se não temos ambos ainda, não retorna nada\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 300,
    "wires": [["prepara_mongodb"]]
  },
  {
    "id": "prepara_mongodb",
    "type": "function",
    "z": "4f07eea542836687",
    "name": "Prepara MongoDB",
    "func": "// Prepara documento para inserção no MongoDB\nconst data = msg.payload;\n\n// Cria documento MongoDB\nmsg.payload = {\n    vaga_id: data.id_vaga || 1,\n    distancia: data.distancia,\n    status: data.status,\n    timestamp: new Date(data.timestamp)\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 300,
    "wires": [["mongodb_insert"]]
  },
  {
    "id": "mongodb_insert",
    "type": "mongodb4",
    "z": "4f07eea542836687",
    "name": "MongoDB",
    "server": "",
    "operation": "insertOne",
    "collection": "historico_sensor",
    "namex": "",
    "index": "",
    "x": 800,
    "y": 300,
    "wires": [["mongodb_status"]]
  },
  {
    "id": "mongodb_status",
    "type": "debug",
    "z": "4f07eea542836687",
    "name": "MongoDB Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1000,
    "y": 300,
    "wires": []
  },
  {
    "id": "282d9ad7cbde6313",
    "type": "mqtt-broker",
    "name": "HiveMQ Broker",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true
  },
  {
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Monitoramento",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "Estacionamento",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
