dashboard.json
[
  {
    "id": "4f07eea542836687",
    "type": "tab",
    "label": "Estacionamento",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_distancia",
    "type": "mqtt in",
    "z": "4f07eea542836687",
    "name": "Distancia",
    "topic": "fiap/iot/vaga/distancia",
    "qos": "0",
    "datatype": "auto",
    "broker": "282d9ad7cbde6313",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 100,
    "wires": [
      ["gauge_distancia", "chart_distancia", "formata_log"]
    ]
  },
  {
    "id": "mqtt_status",
    "type": "mqtt in",
    "z": "4f07eea542836687",
    "name": "Status",
    "topic": "fiap/iot/vaga/status",
    "qos": "0",
    "datatype": "auto",
    "broker": "282d9ad7cbde6313",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 160,
    "wires": [
      ["text_status", "formata_log"]
    ]
  },
  {
    "id": "gauge_distancia",
    "type": "ui_gauge",
    "z": "4f07eea542836687",
    "name": "",
    "group": "dashboard_group",
    "order": 1,
    "width": 6,
    "height": 3,
    "gtype": "gage",
    "title": "Distância (cm)",
    "label": "cm",
    "format": "{{value}}",
    "min": 0,
    "max": 400,
    "colors": [ "#00ff00", "#ffff00", "#ff0000" ],
    "seg1": 20,
    "seg2": 100,
    "diff": false,
    "className": "",
    "x": 350,
    "y": 100,
    "wires": []
  },
  {
    "id": "chart_distancia",
    "type": "ui_chart",
    "z": "4f07eea542836687",
    "name": "",
    "group": "dashboard_group",
    "order": 2,
    "width": 6,
    "height": 3,
    "label": "Histórico de Distância",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "400",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [ "#1f77b4", "#aec7e8", "#ff7f0e" ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 350,
    "y": 160,
    "wires": []
  },
  {
    "id": "text_status",
    "type": "ui_text",
    "z": "4f07eea542836687",
    "group": "dashboard_group",
    "order": 3,
    "width": 6,
    "height": 1,
    "name": "",
    "label": "Status da Vaga",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 350,
    "y": 220,
    "wires": []
  },
  {
    "id": "formata_log",
    "type": "function",
    "z": "4f07eea542836687",
    "name": "Formata CSV",
    "func": "const tipo = msg.topic.includes(\"status\") ? \"status\" : \"distancia\";\nconst linha = `${new Date().toISOString()},${tipo},${msg.payload}\\n`;\nmsg.payload = linha;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 140,
    "wires": [
      ["grava_csv"]
    ]
  },
  {
    "id": "grava_csv",
    "type": "file",
    "z": "4f07eea542836687",
    "name": "Salvar em CSV",
    "filename": "vaga_log.csv",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 800,
    "y": 140,
    "wires": []
  },
  {
    "id": "282d9ad7cbde6313",
    "type": "mqtt-broker",
    "name": "HiveMQ Broker",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true
  },
  {
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Monitoramento",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "Estacionamento",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
